.CashButton{
    background: #245f4a!important;
    box-shadow: inset 6px 6px 8px #3a6354, inset -6px -6px 8px #125a41!important;
    margin:50px 50px 10px 50px!important ;
    padding: 40px 40px 40px 40px!important;
    border-radius: 10px!important;
    color: white!important;
    font-weight: bold!important;
}
/* CashierOrder.css */

.css-11xur9t-MuiPaper-root-MuiTableContainer-root{

scrollbar-width: 1px!important;
background-color: #f5f5f5!important;
scroll-behavior: smooth;
}

.CashierOrderTable {
    width: 100%;
    margin-bottom: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
   scroll-behavior: smooth;
  /* WebKit (Chrome, Safari, and Opera) */
  &::-webkit-scrollbar {
    display: none;
  }
  }
  
  .CashierOrderTable th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: left;
  }
  
  .CashierOrderTable td {
    padding: 10px;
  }
  
  .CashierOrderTable tbody  {
    background-color: #f9f9f9;
  }
  .CashierOrderTotal{
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin-top: 10px;
  }
  .CashierOrderTotal  span:nth-child(1){
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    margin-top: 10px;
    margin-right: 50px;
  }
  
  .CashierOrderTotal  span:nth-child(2){
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    margin-top: 10px;
    color: #0e9465;
  }
  

  
  .CashButton {
    background-color: #c25555;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .CashButton:hover {
    background-color: #ddd;
  }
  
  .CashButton:active {
    background-color: #ccc;
  }
  .PaymentMethodContainer {
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .PaymentMethodContainer span {
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .PaymentMethodContainer select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .CashCancel{
           background-color: #944747!important;
           color: white!important;
  }
  .CashSave{
    background-color: #0e945c!important;
    color: white!important;
}