.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: normal;  
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
     scroll-behavior: smooth;
    /* WebKit (Chrome, Safari, and Opera) */
    &::-webkit-scrollbar {
      display: none;
    }
}
.CashSave{
background-color: #0e945c!important;
color: white!important;
margin-left: 47rem;
margin-right: 20px;
margin-bottom : 1rem
}
.CashCancel{
    background-color: #944747!important;
    color: white!important;
    margin-bottom : 1rem

}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}