.Cashiersidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2rem;
  transition: all 300ms ease;
  background-color: #89ac9f;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
   scroll-behavior: smooth;
  /* WebKit (Chrome, Safari, and Opera) */
  &::-webkit-scrollbar {
    display: none;
  }
}
/* logo */
.bars{
  display: none;
}

.logo {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  justify-content: center;
}
.logo > span > span {
  color: var(--black);
}

.logo > img {
  width: 3rem;
  height: 3rem;
}


/* menu */
.menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  text-decoration: none;
  color: black;
 
}
.menuItem-logout {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  margin-top: 20rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  text-decoration: none;
  color: black;
 
}

.menuItem:hover {
  cursor: pointer;
}

/* .menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
} */

.cashactive {
  background: #e4e2e2;
  margin-left: 0;
}
.cashactive::before {
  content: "";
  width: 8px;
  height: 100%;
  background: #3f524b;
  margin-right: calc(1rem - 8px);
}


/* Tablets */
@media screen and (max-width: 1200px) {
  .menuItem>span{
    display: none;
  }
  .logo{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar{
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    width: 55%;
    padding-right: 1rem;
    height: 100%;
  }
  .menuItem>span{
    display: block;
  }
  .logo{
    display: flex;
  }
  .menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }
  .bars{
    display: flex;
    position: fixed;
    top: 2rem;
    left:60%;
    background:#ffe0e0;
    padding:10px;
    border-radius: 10px;
    z-index: 9;
  }
  .close{
    left: -60%;
  }
}

