.feedback-form {
    top: 10px;
    width: 500px;
    margin: 0 auto;
    height:300px;
    margin-bottom: 10%;

  }
  
  .feedback-form h2 {
    text-align: center;
  }
  
  .input-group1 {
    display: flex;
    flex-direction: row;
    flex-wrap: none!important;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
  
  input[type="email"],
  textarea {
    width: 100%;
    height: 50px;
    outline: none !important;
    padding: 10px 15px;
    color: #0d0d25;
    border-radius: 10px;
    border-top-left-radius: 10px!important; 
    border-bottom-left-radius: 10px!important; 
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
  }
  
  .submitbtn[type="submit"] {
    width: 200px;
    height: 40px;
    border: none;
    margin-left: 80px;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.3s;
    background: linear-gradient(145deg, #ffc954, #ffbc00);
    box-shadow: inset 4px 4px 8px #d6a029, inset -4px -4px 8px #ffd837;
  }
  .submitbtn[type="submit"]:hover {
    background: linear-gradient(145deg, #e3a92b, #ffc933);
  }
  
  /* Optional: Additional styling */
  .feedback-form {
    border-radius: 20px;
    padding: 4rem;
    background: #eeebeb;
    
  }
  
  .input-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  