



.dish-box-wp {
  width: 80%!important;
}

.dish-box {
  border-radius: 30px;
  background: linear-gradient(145deg, #ececec, #ffffff);
  box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
  display: flow-root;
  padding: 0 30px 10px;
  padding-top: 0;
  margin: 130px 0 30px;
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
  
}

.dish-box:hover {
  transform: scale(1.03);
}

.dist-img {
  margin-top: -130px;
  margin-bottom: 30px;
}

.dist-img img {
  box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
  border-radius: 50%;
  overflow: hidden;
  height:200px;
  width: 200px;
}

.dish-rating {
  font-size: 20px;
  margin-bottom: 15px;
}



.dish-title .h3-title {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #0d0d25;
  transition: 0.3s;
  min-height: 76px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 900;
}

.dish-title p {
  color: #bfbfbf;
}

.dish-info ul, .dist-bottom-row ul {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.dish-info ul li {
  display: inline-block;
  flex: 1;
}

.dish-info ul li:last-child {
  text-align: right;
  border-left: 2px solid rgb(204 204 204 / 30%);
}

.dist-bottom-row ul li:last-child {
  text-align: right;
}

.dish-info ul li p {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 2px;
  font-weight: 300;
}

.dish-info ul li b {
  font-weight: 600;
}

.dish-info, .dist-bottom-row {
  padding: 0 30px;
}

.dish-info {
  border-bottom: 2px solid rgb(204 204 204 / 30%);
  margin: 0px 0 12px;
  padding-bottom: 30px;
}

.dist-bottom-row ul li {
  display: flex;
  align-items: center;
}

.dist-bottom-row ul li b {
  font-size: 30px;
}

.dish-add-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  transition: 0.3s;
  background: linear-gradient(145deg, #ffc954, #ffbc00);
  box-shadow: inset 4px 4px 8px #d6a029, inset -4px -4px 8px #ffd837;
}

.dish-add-btn i {
  color: #ffffff;
  font-size: 22px;
}

.dish-add-btn:hover {
  background: linear-gradient(145deg, #e3a92b, #ffc933);
}

/* add to cart popup */

/* Add this CSS code to your existing CSS file or create a new file for dish popup styles */

.dish-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.dish-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}
.dish-popup-items{
  display: flex;
}
.dish-popup-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.dish-popup-info {
  margin: 0px 10px 50px 10px;
}

.dish-popup-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.dish-popup-price {
  margin-bottom: 10px;
  font-size: 18px;
  color: #888;
}
.quantity-input{
  display: flex;
  margin-left:40px;
  align-items: center;
  cursor: pointer;
}
.quantity-num{
  width: 5px;
  height: 5px;
  justify-content: center;
  align-items: center;


}
.add-to-cart-btn,
.cancel-btn {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart-btn {
  background-color: #4c926e;
  color: #fff;
  margin-right: 10px;
}

.cancel-btn {
  background-color: #be6761;
  color: #fff;
}

.add-to-cart-btn svg,
.cancel-btn svg {
  margin-right: 5px;
  font-size: 18px;
}
