.adminMainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: normal;  
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
     scroll-behavior: smooth;
    /* WebKit (Chrome, Safari, and Opera) */
    &::-webkit-scrollbar {
      display: none;
    }
}

@media screen and (max-width: 1200px) {
    .adminMainDash{
        justify-content:flex-start;
        margin-top: 2rem;
        width: 50%;
    margin-left: 30%;
    }
}

@media screen and (max-width: 768px)
{
    .adminMainDash{
        align-items: center;
        width: 50%;
    margin-left: 30%;
    }
}
